body
{
  font-family: 'Poppins';
  margin: 0px; 
}

header {
	justify-content: flex-end;
    padding-top: 1px;
}

.menu{
    background-color: #ffa455;
    margin-top: 0px;
    width: 100%;
    display: sticky;
    position: fixed;
    padding-top: 0px;
   }

ul.menu-ul{
    display: flex;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
   }
   
   .menu-ul li
   {
        list-style: none;
        padding: 5px;
   }

   .menu-ul a
   {
        text-decoration: underline;
        font-size: 18px;
        font-size: calc(0.5em + 1vw);
        text-align: -webkit-match-parent;
   }

.contactInfo
{
 padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    Letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
    left: -30px;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;  
    font-size: 100%;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:rgb(86, 105, 189);
}
.contactInfo ul li .text
{
    font-size: 70%;
    list-style: none;
    display: inline-block;
    position: relative;
}
.contactInfo .education li
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color: rgb(37, 67, 202);
    font-weight: 900;
    font-size: larger;
}
.contactInfo.education h4
{
    color: rgb(20, 19, 19);
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: rgb(14, 11, 11);
    font-weight: 300;
}